<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sd.xm003.mapper.UserMapper">
    <select id="queryAllUser" parameterType="map" resultType="com.sd.xm003.model.UserModel">
        select * from user
    </select>

    <update id="updateUser" parameterType="com.sd.xm003.model.UserModel">
        UPDATE user set username ='aaaaa' WHERE  id = #{id}
    </update>
</mapper>
